---
pageTitle: RingsDB Insights
---
{% extends "layouts/base.njk" %}

{% block main %}
  Here we go. Does it work?
  <form onSubmit=>
    <label for="deckIdInput">Enter your published deck URL</label>
    <input type="text" id="deckIdInput"/>
    <button type="submit">Go</button>
  </form>
{% endblock %}